/* ez csak mert jól néz ki */
* {
    -webkit-transition: -webkit-transform .1s ease-in-out;
    -moz-transition: -moz-transform .1s ease-in-out;
    -o-transition: -o-transform .1s ease-in-out;
    transition: transform .1s ease-in-out;
}

/* Nem néz ki szépen, de legalább valahogyan :) */
html, body {
    font-family: verdana;
    font-size: 11px;
}

nav {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background-color: white;
    border-bottom: 1px solid #eee;
    padding: 5px;
}

nav a {
    color: #a00;
    padding: 2px 5px;
    font-size: 1.2em;
    background-color: #fee;
    border-radius: 3px;
    margin: 5px;
    text-decoration: none;
}

nav a:hover {
    background-color: black;
    color: white;
}

section {
    margin-top: 40px;
}

section article {
    width: 80%;
    margin: 5px auto;
    color: #aaa;
    opacity: 0.8;
}
section article header {
    margin-bottom: 5px;
}
section article header, section article header a {
    color: #777;
    background-color: #eee;
    border-radius: 5px;
    text-decoration: none;
}

section article header h2 {
    font-size: 1.2em;
    padding: 2px;
}

section article header h2:before {
    content: "ݨ ";
    color: #ccc;
    margin-left: 5px;
    margin-right: 3px;
}

section article p {
    display: none;
    padding: 5px 10px;
}

/* Nah kérem szépen itt a varázslat */
section article:target {
    color: black;
    margin-top: 20px;
    margin-bottom: 20px;
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -o-transform: scale(1.08);
    transform: scale(1.08);
    opacity: 1;
}

section article:target header {
    color: black;
    font-size: 1.3em;
}

section article:target header a {
    color: black;
}

section article:target header h2:before {
    color: #777;
}

section article:target p {
    display: block;
}

section article:target + article p {
    display: block;
}

section article:target + article {
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.04);
    -o-transform: scale(1.04);
    transform: scale(1.04);
}