{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
{% include head.html %}
<body {% if page.body_id %} id="{{ page.body_id }}" {% endif %} {% if page.sidebar == false %} class="no-sidebar" {% endif %} {% if page.sidebar == 'collapse' or site.sidebar == 'collapse' %} class="collapse-sidebar sidebar-footer" {% endif %}>
  <header role="banner">{% include header.html %}</header>
  <nav role="navigation">{% include navigation.html %}</nav>
  <div id="main">
    <div id="content">
      {{ content | expand_urls: root_url }}
    </div>
  </div>
  <footer role="contentinfo">{% include footer.html %}</footer>
  {% include after_footer.html %}
  <script type="text/javascript" charset="utf-8">
    (function() {
      var img = document.createElement('img');
      img.onerror = function(e,f,g) {
        var div = document.createElement('div');
        div.innerHTML =  'Nem szeretem azokat, akik azt hiszik véletlenül raktam ki a reklámokat. ';
        div.innerHTML += 'Én ebből próbálom minimálisan finanszírozni a későbbi működést. ';
        div.innerHTML += 'Ha egy reklám túl durva, akkor kérlek jelezd, mert letiltom a hirdetőt. ';
        div.innerHTML += 'Ha véletlenül flash tartalom töltődne be és az zavar, akkor le lehet azt is külön tiltani. ';
        div.innerHTML += 'Ha nem tetszik reklámokkal az oldal, akkor lehet máshol is tartalmat találni.';
        div.setAttribute('style', "color: #888; font-size: 1.3em; font-style: italic; padding-top: 40px; padding-bottom: 40px;");
        var title = document.querySelector('.entry-title');
        title.parentNode.insertBefore(div, title.nextSibling);
      };
      img.src = "http://www.adroll.com/20130703/i/marketing/sprites/common-sprite.png";
    }());
  </script>
</body>
</html>
