<!--Fonts from Google"s Web font directory at http://google.com/webfonts -->
<!--
<link href="http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic" rel="stylesheet" type="text/css">
-->
<meta name="mobile-web-app-capable" content="yes">
<link rel="shortcut icon" sizes="128x128" href="/favicon.png">
<link rel="apple-touch-icon" sizes="128x128" href="/favicon.png">
<link rel="apple-touch-icon-precomposed" sizes="128x128" href="/favicon.png">
<meta name="apple-mobile-web-app-status-bar-style" content="black">
